In [104]:
import pandas as pd
import time
import random
import os
from datetime import datetime
import uuid
import re

In [105]:
url =['https://www.espn.com.co/futbol/posiciones/_/liga/col.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/eng.1/liga',
      'https://www.espn.com.co/futbol/posiciones/_/liga/ita.1/liga',
      'https://www.espn.com.co/futbol/posiciones/_/liga/ger.1/liga',
      'https://www.espn.com.co/futbol/posiciones/_/liga/fra.1/liga'
]

ligas = ['Colombia','Inglaterra', 'Italia', 'Alemania','Francia']

df_ligas = {
    'LIGA': ligas,
    'URL': url
}

df_ligas = pd.DataFrame(df_ligas)
df_ligas

         LIGA                                                URL
0    Colombia  https://www.espn.com.co/futbol/posiciones/_/li...
1  Inglaterra  https://www.espn.com.co/futbol/posiciones/_/li...
2      Italia  https://www.espn.com.co/futbol/posiciones/_/li...
3    Alemania  https://www.espn.com.co/futbol/posiciones/_/li...
4     Francia  https://www.espn.com.co/futbol/posiciones/_/li...

In [106]:
df_ligas['URL'][0]

'https://www.espn.com.co/futbol/posiciones/_/liga/col.1'

In [107]:
df = pd.read_html(df_ligas['URL'][0])

In [108]:
len(df)

2

In [109]:
df[0]

                  Finalizacion
0        1NALAtlético Nacional
1        2RIONRionegro Águilas
2          3AMEAmérica de Cali
3   4DIMIndependiente Medellín
4   5SFEIndependiente Santa Fe
5        6APAAlianza Petrolera
6          7UMAUnión Magdalena
7          8JUNAtlético Junior
8          9PASDeportivo Pasto
9          10HUIAtlético Huila
10        11TOLDeportes Tolima
11            12BUCBucaramanga
12            13MILMillonarios
13            14CALOnce Caldas
14           15CHIBoyacá Chicó
15         16DCIDeportivo Cali
16      17PERDeportivo Pereira
17             18EQDLa Equidad
18    19CORJaguares de Córdoba
19               20ENVEnvigado

In [110]:
df[1]

     J  G  E  P  GF  GC  DIF  PTS
0   13  7  3  3  20   9   11   24
1   12  6  6  0  18  10    8   24
2   13  6  5  2  23  13   10   23
3   12  5  6  1  15  10    5   21
4   13  5  4  4  15  16   -1   19
5   12  5  3  4  13  15   -2   18
6   13  4  6  3  12  15   -3   18
7   13  4  5  4  21  13    8   17
8   13  4  5  4  11  13   -2   17
9   12  4  4  4  11   8    3   16
10  12  4  4  4  12  12    0   16
11  13  4  4  5  12  13   -1   16
12  12  4  4  4  10  11   -1   16
13  12  4  3  5  14  13    1   15
14  13  2  8  3  10  16   -6   14
15  11  3  4  4  11  13   -2   13
16  12  3  3  6  12  16   -4   12
17  12  1  8  3   8  13   -5   11
18  12  2  2  8   6  15   -9    8
19  13  1  5  7   7  17  -10    8

In [111]:
df = pd.concat([df[0],df[1]], ignore_index = True, axis=1)
df

                             0   1  2  3  4   5   6   7   8
0        1NALAtlético Nacional  13  7  3  3  20   9  11  24
1        2RIONRionegro Águilas  12  6  6  0  18  10   8  24
2          3AMEAmérica de Cali  13  6  5  2  23  13  10  23
3   4DIMIndependiente Medellín  12  5  6  1  15  10   5  21
4   5SFEIndependiente Santa Fe  13  5  4  4  15  16  -1  19
5        6APAAlianza Petrolera  12  5  3  4  13  15  -2  18
6          7UMAUnión Magdalena  13  4  6  3  12  15  -3  18
7          8JUNAtlético Junior  13  4  5  4  21  13   8  17
8          9PASDeportivo Pasto  13  4  5  4  11  13  -2  17
9          10HUIAtlético Huila  12  4  4  4  11   8   3  16
10        11TOLDeportes Tolima  12  4  4  4  12  12   0  16
11            12BUCBucaramanga  13  4  4  5  12  13  -1  16
12            13MILMillonarios  12  4  4  4  10  11  -1  16
13            14CALOnce Caldas  12  4  3  5  14  13   1  15
14           15CHIBoyacá Chicó  13  2  8  3  10  16  -6  14
15         16DCIDeportivo Cali  11  3  4  4  11  13  -2  13
16      17PERDeportivo Pereira  12  3  3  6  12  16  -4  12
17             18EQDLa Equidad  12  1  8  3   8  13  -5  11
18    19CORJaguares de Córdoba  12  2  2  8   6  15  -9   8
19               20ENVEnvigado  13  1  5  7   7  17 -10   8

In [112]:
df = df.rename (columns ={0:'Equipo', 1:'J', 2:'G', 3:'E', 4:'P', 5:'GF', 6:'GC', 7:'DIF', 8:'PTS' })

remove_leading_digits_and_uppercase_except_last = lambda x: re.sub(r'^\d+|[A-Z](?=[A-Z])|[A-Z](?=$)','',x)
df['Equipo'] = df['Equipo'].apply(remove_leading_digits_and_uppercase_except_last)

print(df['Equipo'])

0          Atlético Nacional
1           Rionegro Águilas
2            América de Cali
3     Independiente Medellín
4     Independiente Santa Fe
5          Alianza Petrolera
6            Unión Magdalena
7            Atlético Junior
8            Deportivo Pasto
9             Atlético Huila
10           Deportes Tolima
11               Bucaramanga
12               Millonarios
13               Once Caldas
14              Boyacá Chicó
15            Deportivo Cali
16         Deportivo Pereira
17                La Equidad
18       Jaguares de Córdoba
19                  Envigado
Name: Equipo, dtype: object

In [113]:
df['LIGA'] = df_ligas['LIGA'][0]

df

                    Equipo   J  G  E  P  GF  GC  DIF  PTS      LIGA
0        Atlético Nacional  13  7  3  3  20   9   11   24  Colombia
1         Rionegro Águilas  12  6  6  0  18  10    8   24  Colombia
2          América de Cali  13  6  5  2  23  13   10   23  Colombia
3   Independiente Medellín  12  5  6  1  15  10    5   21  Colombia
4   Independiente Santa Fe  13  5  4  4  15  16   -1   19  Colombia
5        Alianza Petrolera  12  5  3  4  13  15   -2   18  Colombia
6          Unión Magdalena  13  4  6  3  12  15   -3   18  Colombia
7          Atlético Junior  13  4  5  4  21  13    8   17  Colombia
8          Deportivo Pasto  13  4  5  4  11  13   -2   17  Colombia
9           Atlético Huila  12  4  4  4  11   8    3   16  Colombia
10         Deportes Tolima  12  4  4  4  12  12    0   16  Colombia
11             Bucaramanga  13  4  4  5  12  13   -1   16  Colombia
12             Millonarios  12  4  4  4  10  11   -1   16  Colombia
13             Once Caldas  12  4  3  5  14  13    1   15  Colombia
14            Boyacá Chicó  13  2  8  3  10  16   -6   14  Colombia
15          Deportivo Cali  11  3  4  4  11  13   -2   13  Colombia
16       Deportivo Pereira  12  3  3  6  12  16   -4   12  Colombia
17              La Equidad  12  1  8  3   8  13   -5   11  Colombia
18     Jaguares de Córdoba  12  2  2  8   6  15   -9    8  Colombia
19                Envigado  13  1  5  7   7  17  -10    8  Colombia